.game_container {

  background-color: #07403b;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  flex-direction: column;

}

.row {
  display: flex;

  .square {
    background-color: #3daba0;
    width: 65px;
    height: 65px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;

  }

  .square_score {
    background-color: #90a3e0;
    width: 65px;
    height: 65px;
    margin: 0 5px 30px 5px;
    border: none;
    border-radius: 5px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    text-align: center;

    &:first-child {
      background-color: #f088d4;
    }

    &:last-child {
      background-color: #edb82a;
    }

  }

  .button_restart {
    border-radius: 5px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    width: 215px;
    background-color: lightgrey;
    border: 1px solid #72CFF9;
    cursor: pointer;
    //margin-top: 10px;

  }

}

.row_text {

  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-between;
  //height: 45px;
  margin: 10px 0;

  .status_title {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #90a3e0;

  }

}